@using Cinephile.Common
@model Cinephile.Web.ViewModels.Posts.AllPostsViewModel
@{
    this.ViewData["Title"] = "Forum";
}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Bar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Forum" asp-action="Rules">Rules</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<p></p>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Recent Posts</li>
</ol>
<table class="table table-info">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts.OrderBy(x => x.VotesCount))
        {
            <tr class="table-dark">
                <td>@post.Category.Name</td>
                <th scope="row">@post.Title</th>
                <td>@post.UserUserName</td>
                <td>@post.CreatedOn.Date</td>
            </tr>
        }
    </tbody>
</table>
<p></p>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Most Liked Posts</li>
</ol>
<table class="table table-info">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts.OrderBy(x => x.CreatedOn))
        {
            <tr class="table-dark">
                <td>@post.Category.Name</td>
                <th scope="row">@post.Title</th>
                <td>@post.UserUserName</td>
                <td>@post.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
