@model Cinephile.Web.ViewModels.Actors.AllActorsViewModel
@{
    ViewData["Title"] = "Actors Search";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/Actors/ActorsIndex">Actors</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
        @if (this.User.IsInRole("Administrator"))
        {
            <a class="btn btn-success" asp-area="Administration" asp-controller="Actors" asp-action="Create">Add Actor</a>
        }
        <form class="form-inline  my-2 my-lg-0" asp-area="" asp-controller="Actors" asp-action="ActorsByQuery">
            <input class="form-control" type="text" name="input" placeholder="Search Actor">
            <input class="btn btn-secondary" type="submit" value="Search" />
        </form>
    </div>
</nav>
<hr />

<div class="row">
    @foreach (var actor in Model.Actors)
    {
        <div class="col-md-3 media">
            <div class="media-body">
                <div class="card bg-primary">
                    <img class="card-img-top" src="@actor.ImageUrl" alt="Card image cap" height="200" width="200">
                    <div class="card-body">
                        @{
                            if (this.User.IsInRole("Administrator"))
                            {
                                <div class="text-center"><a class="btn btn-info" a href="/Administration/Actors/ActorView/?name=@actor.FirstName" style="text-decoration:none">@actor.FirstName @actor.LastName</a></div>
                            }
                            else
                            {
                    <div class="text-center"><a class="btn btn-info" a href="/Actors/ActorView/?name=@actor.FirstName" style="text-decoration:none">@actor.FirstName @actor.LastName</a></div>
                            }
                        }
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    }
</div>




