@model Cinephile.Web.ViewModels.Actors.ActorViewModel
@{
    ViewData["Title"] = "ActorView";
}

<body>
    <div class="container">
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="@Model.ImageUrl" alt="">
            </div>
            <div class="col-lg-7">
                <h1 class="font-weight-light">@Model.FirstName @Model.LastName</h1>
                <h4>Biography</h4>
                <p>
                    @Model.Biography
                </p>
            </div>
        </div>
        <div class="card text-white bg-active my-5 py-4 text-center">
            <div class="card-body">
                <button onclick="location.href='@Model.HomePageLink'" class="btn btn-secondary">HomePage</button>
                <button onclick="location.href='@Model.IMDBLink'" class="btn btn-primary">IMDb</button>
                <button onclick="location.href='@Model.FacebookLink'" class="btn btn-info">Facebook</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Gender</h3>
                        <ul>
                            <li>@Model.Gender</li>
                        </ul>
                        <h3 class="card-title">Birthday</h3>
                        <ul>
                            <li>@Model.Birthdate</li>
                        </ul>
                        <h3 class="card-title">Place of Birth</h3>
                        <ul>
                            <li>@Model.Birthplace</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Movies</h2>
                        <ul>
                            @foreach (var movie in Model.Movies)
                            {
                                <li>@movie.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">TV-Series</h3>
                        <ul>
                            @foreach (var tvshow in Model.TVShows)
                            {
                                <li>@tvshow.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-active d-flex justify-content-center">
        <tr>
            <td> <a class="btn btn-success " a href="/Administration/Actors/Edit/@Model.Id" style="text-decoration:none;">Edit</a></td>
            <td><a class="btn btn-warning" a href="/Administration/Actors/Delete/@Model.Id" style="text-decoration:none">Delete</a></td>

        </tr>
    </table>
    <br />
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Cinephile @DateTime.UtcNow.Year</p>
        </div>
    </footer>
</body>

